// 项目颜色配置变量
$light_blue: #17497e;
$blue: #0d3562;
$mid_blue: #0f263d;
$deep_blue: #0e2030;
$most_blue: #102337;
$font_blue:#2f74bf;
$gray: rgba(255, 255, 255, 0.6);
$darkgray: #181818;
$light_green: #5cd6ec;

$light_fff:#4d4d4d;
$black:#040406;

$font_fff: rgba(255,255,255,1);






/*字体大小*/
$font_16:16px;
$font_18:18px;





//常用scss
.pt5{
  padding-top: 5px;
}
.pt10{
  padding-top: 10px;
}






